body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.gallery {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}

.gallery-item {

    margin: 15px;
    width: 360px;
    gap: 24px;
    box-sizing: border-box;
}

.gallery-image {

    display: block;
    width: 100%;
    height: auto;
}